.btn-c-tertiary {
  background-color: $color-tertiary;
  @include darkenBtnOnHover($color-tertiary);

  &--active {
    background-color: darken($color-tertiary, 20%);
    text-decoration: underline;
  }
}
