.label__input {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;

  &:checked ~ .label__checkmark {
    background-color: $color-secondary;
  }

  &:checked ~ .label__checkmark:after {
    display: block;
  }
}

$checkbox_size: 2em;

.label__checkmark {
  position: absolute;
  background-color: $color-secondary--tint;
  border-radius: 0.5em;
  top: 0;
  left: 0;
  height: $checkbox_size;
  width: $checkbox_size;

  &:hover {
    background-color: darken($color-secondary, 30%);
  }

  &:after {
    $checkmark-width: $checkbox_size / 3;
    $checkmark-height: $checkmark-width * 1.5;
    display: none;
    position: absolute;
    color: $color-primary;
    content: '';
    left: $checkbox_size / 2 - $checkmark-width / 2;
    top: $checkbox_size / 2 - $checkmark-height / 2;
    width: $checkmark-width;
    height: $checkmark-height;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}

.label__name {
  $vertical-margin: 1em;
  color: $color-text-complementary;
  margin-left: $checkbox-size + 1em;
  cursor: pointer;
  margin-top: $vertical-margin;
  margin-bottom: $vertical-margin;

  @media (min-width: map-get($breakpoints, 'medium')) {
    $vertical-margin: 0.5em;
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;
  }
}
