.options__label {
  font-size: map-get($font-sizes, 'big');
  color: black;
  font-weight: map-get($font-weights, 'bold');
  font-family: 'Montserrat', sans-serif;
}

.options__submit {
  @include darkenBtnOnHover($color-secondary);
  background-color: $color-secondary;
  font-size: map-get($font-sizes, 'taller');
}

@mixin option__btn($color) {
  background-color: $color;

  &--active {
    background-color: darken($color, 20%);
    text-decoration: underline;
    color: white;
  }
}

// Dropdown menu for label
.options__dropdown {
  width: 90vw;

  @media (min-width: map-get($breakpoints, 'medium')) {
    width: 0.4 * 90vw;
  }

  @media (min-width: map-get($breakpoints, 'large')) {
    width: 0.3 * 90vw;
  }

  @media (min-width: map-get($breakpoints, 'extra-large')) {
    width: 0.25 * 90vw;
    max-width: 700px;
  }
}
