#search-bar {
  padding: 0;
}

%queryFont {
  font-size: map-get($font-sizes, 'average');
}
#query {
  @extend %queryFont;
  padding: 0;
}

.search__btn {
  @extend %queryFont;

  &Sm {
    margin-top: 1em;
    @media (min-width: map-get($breakpoints, 'medium')) {
      margin-top: 0;
    }
  }
}
