$font-url--montserrat-lato: 'https://fonts.googleapis.com/css?family=Lato|Montserrat:700,900';

$font-weights: (
  bold: 700,
  extra-bold: 900
);

// Human-Friendly Colors
$grape: #2b2c61;

// Color Usage
$color-background--tint: $grape;
