@mixin darkenAndUnderline($color) {
  background-color: darken($color, 30%);
  text-decoration: underline;
  color: white;
}

.issue__statusOpen--active {
  @include darkenAndUnderline($color-success);
}

.issue__statusClosed--active {
  @include darkenAndUnderline($color-danger);
}
