.buttons__container {
  background-color: $color-background--tint;
}

.buttons__select {
  background-color: $color-primary;
  color: black;
}

.buttons__back {
  background-color: $color-secondary;
  color: $color-text;
}
